<!--Hibernate file-based configuration document.-->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

    <!--        connectivity details start here-->

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/personsdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Password!123</property>
        <!--        connectivity details end here-->

       <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> <!-- to generate queries-->
       <property name="hibernate.show_sql">true</property>  <!-- to write queries/properties to our console-->
        <property name="hibernate.hbm2ddl.auto">update</property>    <!--        to create tables/map schemas once created-->
<!--        <property name="hibernate.hbm2ddl.auto">create</property> -->        <!-- to create tables/map schemas first time-->

    </session-factory>
</hibernate-configuration>